name: Pull request

on:
  pull_request:
    branches:
      - main
      - next
      - alpha
      - canary

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.x.x

      - name: Check types
        run: deno check mod.ts

      - name: Lint
        run: deno lint

      - name: Format
        run: deno fmt --check

      - name: Test
        run: deno task test

      - name: Build
        run: |
          mkdir -p bin/macos bin/macos-arm bin/linux bin/windows
          deno compile --no-check --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-apple-darwin --output bin/macos/pspace mod.ts
          deno compile --no-check --allow-env --allow-run --allow-read --allow-write --allow-net --target aarch64-apple-darwin --output bin/macos-arm/pspace mod.ts
          deno compile --no-check --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-unknown-linux-gnu --output bin/linux/pspace mod.ts
          deno compile --no-check --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-pc-windows-msvc --output bin/windows/pspace mod.ts
        env:
          TMPDIR: ${{ runner.temp }}
