name: Pull request

on:
  pull_request:
    branches:
      - main
      - next
      - alpha
      - canary

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.x.x

      - name: Check types
        run: deno check mod.ts

      - name: Lint
        run: deno lint

      - name: Format
        run: deno fmt --check

      - name: Test
        run: deno task test

      - name: Build
        run: deno task compile
