name: Pull request

on:
  pull_request:
    branches:
      - main
      - next
      - alpha
      - canary

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.x.x

      # - name: Check types
      #   run: deno check mod.ts

      # - name: Lint
      #   run: deno lint

      # - name: Format
      #   run: deno fmt --check

      # - name: Test
      #   run: deno task test
      
      - name: Setup Deno cache directory
        run: |
          mkdir -p .deno_cache
          echo "DENO_DIR=$PWD/.deno_cache" >> $GITHUB_ENV
      
      - name: Build
        run: |
          unset TMPDIR
          deno compile --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-apple-darwin --output /tmp/pspace-macos mod.ts
          deno compile --allow-env --allow-run --allow-read --allow-write --allow-net --target aarch64-apple-darwin --output /tmp/pspace-macos-arm mod.ts
          deno compile --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-unknown-linux-gnu --output /tmp/pspace-linux mod.ts
          deno compile --allow-env --allow-run --allow-read --allow-write --allow-net --target x86_64-pc-windows-msvc --output /tmp/pspace-windows mod.ts
          mkdir -p bin/macos bin/macos-arm bin/linux bin/windows
          mv /tmp/pspace-macos bin/macos/pspace
          mv /tmp/pspace-macos-arm bin/macos-arm/pspace
          mv /tmp/pspace-linux bin/linux/pspace
          mv /tmp/pspace-windows.exe bin/windows/pspace.exe
